.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 380px;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}
.conteinerInfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom:  1px solid #c1c1c1ea;
}
.conteinerInfo div{
    display: flex;
    flex-direction: column;
    max-width: 279px;
    min-width: 220px;
    width: 100%;
}


p{
    font-weight: 500;
    color: #444444;
}
span{
    color: #a6a5a5de;
    font-size: 14px;
}

.buttonExlcude{
    width: 70px;
    height: 30px;
    background-color: transparent;
    border: none;
}
.buttonExlcude i{
    color: #FF9999;
    font-size: 19px;
}

.buttonDone{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: none;
    border: 2px solid #c5c5c5de;
    background-color: transparent;
}

.fa-check{
    color: #00ff00;
    font-size: 20px;
}
.concludeIten{
    color: #bebebe;
    text-decoration: line-through;
}

@media screen and ( max-width: 380px) {
    .container{
        justify-content: space-around;
    }
    .conteinerInfo{
        gap: 0px;
        max-width: 270px;
        width: 100%;
    }
}